:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--second-text-color: #ffffff;
}

body {
	color: var(--primary-text-color);
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
ul {
	margin: 0;
	padding-left: 0;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	outline: tomato solid;
}

/* скрытые заголовки */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* заголовки */
.title {
	color: var(--title-text-color);
}
/* ссылки */
.link {
	text-decoration: none;
}
/* списки */
.list {
	list-style: none;
}

.features-container {
	max-width: 270px;
}

/* --------------------header--------------------- */
.logo {
	color: var(--accent-color);
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}
.logo-black {
	color: #000000;
}
.nav .link,
.auth .link {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.nav .link {
	color: var(--title-text-color);
}
.nav .link.current {
	color: var(--accent-color);
}
.auth .link {
	color: currentColor;
}
.link:hover,
.link:focus {
	color: var(--accent-color);
}

/* ----------------------Hero--------------------- */
.hero {
	background-color: #2f303a;
	text-align: center;
}
/* ПОСТАВИЛ ДЛЯ ВИДИМОСТИ ТЕКСТА */

.hero-container {
	padding-top: 200px;
	padding-bottom: 200px;
}

.hero .title {
	color: var(--second-text-color);
	text-transform: uppercase;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	margin-bottom: 30px;
	max-width: 696px;
	margin-left: auto;
	margin-right: auto;
}
/* button */

.hero-button {
	color: var(--second-text-color);
	background-color: var(--accent-color);
	cursor: pointer;
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	border-radius: 4px;
	padding: 10px 32px;
	min-width: 200px;
	border: none;
}
.hero-button:hover,
.hero-button:focus {
	background-color: #188ce8;
}

/* --------------------особенности------------------ */
.features {
	padding: 94px 215px;
}
.features .title {
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.features-text {
	font-size: 14px;
	line-height: 1.71;
}

/* --------------Чем мы занимаемся------------- */
.img-work {
	margin-bottom: 94px;
}
.work .title {
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	margin-bottom: 50px;
}
/* --------НАША КОМАНДА-------- */
.team-title {
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	margin-bottom: 50px;
	padding-top: 94px;
}

.team {
	/* background-color: #f5f4fa; */
	text-align: center;
}
.img-team {
	margin-bottom: 30px;
}
.title.name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	margin-bottom: 10px;
}
.profession {
	font-size: 16px;
	line-height: 1.19;
}
.team-container {
	width: 270px;
	height: 368px;
}
.team-list {
	padding-bottom: 94px;
}

/* ----------------------footer-------------------- */
.footer {
	background-color: #2f303a;
}
/* ПОСТАВИЛ ДЛЯ ВИДИМОСТИ ТЕКСТА */
.logo-white {
	display: inline-block;
	color: var(--second-text-color);
	margin-bottom: 20px;
	padding-top: 60px;
}
.address {
	display: inline-block;
	color: var(--second-text-color);
	font-style: normal;
	text-decoration: none;
	font-size: 14px;
	line-height: 1.71;
	margin-bottom: 9px;
}
.link-address {
	display: inline-block;
	color: rgba(255, 255, 255, 0.6);
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	margin-bottom: 9px;
}

/* -----------------PORTFOLIO---------------*/
.filter {
	padding-top: 94px;
	padding-bottom: 50px;
}
.button {
	background-color: #f5f4fa;
	color: var(--title-text-color);
	cursor: pointer;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
}
.button:hover,
.button:focus {
	background-color: var(--accent-color);
	color: var(--second-text-color);
}
.projects-title {
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	/* margin-bottom: 4px; */
}
.projects-link {
	color: currentColor;
	text-decoration: none;
}
.projects-type {
	font-size: 16px;
	line-height: 1.88;
}
/* .filter-foto {
	display: inline-block;
	margin-bottom: 20px;
} */
.filter-text-container {
	padding: 20px 24px;
}
